<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" th:href="@{/css/student.css}">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Document</title>
    </head>

    <body style="background-color: #e6e9ee">

        <div class="container">

            <!-- Alert message-->

            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                <p class="text-center" th:text="${session.message.content}"> </p>
                <th:block th:text="${#session.removeAttribute('message')}"> </th:block>
            </div>

            <div class="application_body">

                <div class="redLine"> </div>

                <h2 class="text-center mb-5"> Register here for a practical slot </h2>

                <item class="mb-5">
                    <ul> • Please enter all information and select your desired day. Please enter a correct 'SID' number !</ul>
                    <ul> • Please check the number of available seats before submitting.</ul>
                    <ul> • Register only to one slot. </ul>
                    <ul> • Any problem ? write a message to <span class="email"> webrb@cse.liv.ac.uk</span></ul>
                </item>


                <form class="mt-5" action="" th:action="@{/book_slot}" method="post" th:object="${slotRegisteredStudent}">

                    <div class="form-row">
                        <div class="col">
                            <input required name="fName" type="text" class="form-control" placeholder="First name">
                        </div>

                        <div class="col">
                            <input required name="lName" type="text" class="form-control" placeholder="Last name">
                        </div>

                        <div class="col">
                            <input required name="SID" type="text" class="form-control" placeholder="SID">
                        </div>

                        <div class="col">
                            <input name="email" readonly th:value="${currentLogInStudent.email}" type="email" class="form-control" placeholder="Email Address">
                        </div>
                    </div>

                    <h5 class="mt-5 text-center"> Select your practical slot : </h5>

                    <div class="input-group mt-5 text-center">

                        <select required name="slotID" class="custom-select" id="inputGroupSelect">

                            <option> choose a slot </option>
                            <option th:each="slot: ${slots}" th:value="${slot.slotID}">  <span th:text="${slot.slotTime}"> </span> &nbsp &nbsp  (remaining seats :  <span th:text="${slot.totalSeat}">  </span> ) </option>

<!--                            <option value="slot1">Monday   15:00 - 17:00 (0 seat remaining)</option>-->
<!--                            <option value="slot2">Tuesday  14:00 - 16:00 (0 seat remaining)</option>-->
<!--                            <option value="slot3">Thursday 11:00 - 13:00 (0 seat remaining)</option>-->
<!--                            <option value="slot4">Friday   10:00 - 12:00 (0 seat remaining)</option>-->
                        </select>

                    </div>

                    <!--Submit and Reset field-->
                    <div class="container text-center mb-2">
                        <button type="submit" class="btn btn-success mt-4">
                            Submit
                        </button>

                        <button type="reset" class="btn btn-warning mt-4">
                            Clear
                        </button>
                    </div>

                </form>


                <div class="text-right mb-2">
                    <a th:href="@{/logout}" id="logout">Logout</a>
                </div>

                <div class="redLine"> </div>

            </div>

            <div class="bookingStatus text-center mt-3">

                <span id="bookingStatus" th:text="${bookingStatus}">  </span>
                <a th:href="@{/cancelBooking}"> Cancel Booked slot </a>

            </div>


        </div>


        <!-- Custom js -->
        <script type="text/javascript" src="/js/check.js"> </script>

        <!-- Bootstrap js-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </body>
</html>